*~
.*.swp
*.py[cod]
*.pkl

*.part
*.flv
complete_yt_dl_v?.py
my_youtube_dl.py

dnspython-1.9.2
namebench-read-only
*.vim
*.mp4
*.dmp
youtube_dl.py
*.so
build
MANIFEST
warn*.txt

logs/
results/
databases/
templates/


lib
*.db

test_pytomo/charles/


pyjamas-0.8alpha1/

*.pdf
*.png
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.latexmain
.coverage
received_files
incoming


mock_dir/
mock_file

IEEEtran.bst
IEEEtran.cls

*.tgz
